.title {
  margin-bottom: 80px;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 1.5px;
}

.input_container {
  position: relative;
  width: 430px;
  height: 52px;
}

.field {
  margin-top: 24px;
  text-align: left;
}

.label {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.015em;
  text-align: left;
  margin-bottom: 8px;
}

.input {
  width: 100%;
  height: 100%;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;

  border: #c9c4c0 solid 1px;
  border-radius: 8px;
  padding-left: 48px;
}

.input_no_padding {
  padding-left: 15px;
}

.link_container {
  display: flex;
  justify-content: flex-end;
}

.input_icon {
  position: absolute;
  top: 15px;
  left: 15px;
}

.link_container a {
  margin-top: 8px;
  color: #ff7506;
  text-decoration: none;
}

.button {
  margin-top: 30px;
  font-size: 18px;
  width: 430px;
  height: 52px;
  border: none;
  border-radius: 8px;
  color: white;
  background: linear-gradient(270deg, #ff5400 0%, #f17f21 80.56%);
  transition: all ease 0.3s;
}

.button_inactive {
  background: #c9c4c0;
  transition: all ease 0.3s;
}
