// .FormOnePay {
//   position: relative;
//   p {
//     color: #ed2025;
//     font-weight: 700;
//     font-size: 16px;
//     margin: 25px auto;
//     max-width: 580px;
//     text-align: center;
//   }
//   &-icon {
//     position: absolute;
//     top: -10px;
//     left: -10px;
//   }
//   &-logo {
//     text-align: center;
//     p {
//       margin: 0;
//       color: #373839;
//       margin-bottom: 24px;
//     }
//   }
//   &-wrapper {
//     padding: 32px 64px;
//     margin: 0 -30px;
//     border: 1px solid rgba(55, 56, 57, 0.5);
//     border-radius: 16px;
//     max-width: 560px;
//     margin: auto;
//   }
//   &-left {
//     padding: 0 30px;
//     flex: 0 0 60%;
//     max-width: 60%;
//   }
//   &-right {
//     padding: 0 30px;
//     flex: 0 0 40%;
//     max-width: 40%;
//   }

//   .mb-24 {
//     margin-bottom: 24px;
//   }
// }
