.OnePay {
  &-icon {
    margin-bottom: 20px;
  }

  &-listBank {
    margin-top: 24px;
    padding: 24px 54px;
    background: #f2f2f2;
    border-radius: 16px;
    ul {
      flex-wrap: wrap;
      display: flex;
      margin: 0 -10px;
      li {
        padding: 10px;
        &.active {
          img {
            border-radius: 8px;
            box-shadow: 0 0 0 1px #ff7506;
          }
        }
        img {
          max-width: 100%;
        }
      }
    }
  }
}
