// .Billing {
//   &-title {
//     font-size: 48px;
//     line-height: 56px;
//     margin-bottom: 32px;
//   }
//   &-des {
//     font-size: 28px;
//     line-height: 33px;
//     margin-bottom: 32px;
//   }
//   &-top {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-bottom: 32px;
//     h3 {
//       color: #49c510;
//     }
//   }
//   &-search {
//     position: relative;
//     padding: 11px 48px;
//     background: #f0f3f6;
//     border-radius: 24px;
//     max-width: 360px;
//     width: 100%;
//     img {
//       position: absolute;
//       top: 50%;
//       left: 10px;
//       transform: translateY(-50%);
//     }
//     input {
//       background: none;
//       border: none;
//       width: 100%;
//       &:focus {
//         outline: none;
//       }
//       &::placeholder {
//         font-size: 14px;
//         color: #c5c5c5;
//       }
//     }
//   }
//   &-wrapper {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     min-height: 500px;
//     padding: 32px 65px;
//     background: #ffffff;
//     box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
//     border-radius: 16px;
//   }
//   &-total {
//     margin-top: 24px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 18px 32px;
//     background: #efefef;
//     border-radius: 8px;
//     h3 {
//       color: #373839;
//       font-weight: 900;
//     }
//     h4 {
//       color: #cc5c00;
//     }
//   }
//   .statusSuccess,
//   .statusFail {
//     min-width: 100px;
//     padding: 14px 25px;
//     background: none;
//     text-align: center;
//     border-radius: 8px;
//     border: 1px solid #0b80ec;
//     color: #0b80ec;
//     font-weight: 900;
//     position: relative;
//     white-space: nowrap;
//     &::before {
//       content: "";
//       position: absolute;
//       width: 6px;
//       height: 6px;
//       top: 50%;
//       left: 12px;
//       transform: translateY(-50%);
//       border-radius: 50px;
//       background: #0b80ec;
//     }
//   }
//   .statusFail {
//     border: 1px solid #ed2025;
//     color: #ed2025;
//     &::before {
//       background: #ed2025;
//     }
//   }
// }
