// .FormCredit {
//   &-wrapper {
//     padding: 32px 64px;
//     display: flex;
//     justify-content: space-between;
//     margin: 0 -30px;
//     border: 1px solid #f2f2f2;
//     border-radius: 16px;
//   }
//   &-left {
//     padding: 0 30px;
//     flex: 0 0 60%;
//     max-width: 60%;
//   }
//   &-right {
//     padding: 0 30px;
//     flex: 0 0 40%;
//     max-width: 40%;
//   }
//   h3 {
//     color: #cc5c00;
//     font-weight: 700;
//     font-size: 16px;
//     margin: 25px 0;
//   }
//   .mb-24 {
//     margin-bottom: 24px;
//   }
// }
