.order {
  &-title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 32px;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
    padding: 32px 65px;
    background: #ffffff;
    box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
    border-radius: 16px;
  }
  &-total {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 32px;
    background: #efefef;
    border-radius: 8px;
    h3 {
      color: #373839;
      font-weight: 900;
    }
    h4 {
      color: #cc5c00;
    }
  }
}
