.TableUI {
  width: 100%;
  font-size: 12px;
  border-radius: 8px;
  border-collapse: collapse;
  overflow: hidden;
  text-align: left;
  .center {
    text-align: center;
  }
  &-click {
    cursor: pointer;
  }
  thead {
    background: linear-gradient(270deg, #ff5400 0%, #f17f21 80.56%);
    tr {
      td {
        padding: 8px 15px;
        color: #fff;
        font-size: 14px;
        font-weight: 900;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 10px 15px;
      }
      &:nth-child(odd) {
        background-color: #f0f3f6;
      }
    }
  }
}
